<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Teams</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created date</th>
        <th>Created by</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams | async">
        <td>{{team.name}}</td>
        <td>{{team.description}}</td>
        <td>{{team.createdDate}}</td>
        <td>{{team.createdBy}}</td>
        <td><button (click)="deleteTeam(team.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
